<%- include('common/header.ejs') %>
        <title>Modifica Libro</title>
    </head>
    <body onload="fillBook('<%= book %>'); setheader()">
        <div><%- include('common/back.ejs') %></div>
        <br>
        <center>
            <h2 id="divtitle">Modifica libro</h2>
            <label for="title"><b>Titolo: </b></label><input class="inputField" type="text" name="title" id="title" placeholder="Titolo" required><br>
            <label for="description"><b>Descrizione: </b></label><input class="inputField" type="text" name="description" id="description" placeholder="Descrizione" required><br>
            <label for="author"><b>Autore: </b></label><input class="inputField" type="text" name="author" id="author" placeholder="Autore" required><br>
            <div style="width: 30%; margin: auto; margin-top: 10px;">
                <button id="confbutton" class="button" type="button" name="adminonly" onclick="updateBook('<%= book %>')">Modifica</button>
                <button id="delbutton" class="delete" name="adminonly"onclick="purgeBook('<%= book %>')">Elimina</button>
            </div>
        </center>
  </body>
</html>
