<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="../../public/script.js"></script>
        <title><%= book ? 'Edit' : 'Insert' %> Book</title>
    </head>
    <body>
        <br>
        <center>
            <label>Title: </label><input style="margin: 10px 0;" type="text" name="title" value='<%= book ? book.title : "" %>' required><br>
            <label>Description: </label><input style="margin: 10px 0;" type="text" name="description" value='<%= book ? book.description : "" %>' required><br>
            <label>Author: </label><input style="margin: 10px 0;" type="text" name="author" value='<%= book ? book.author : "" %>' required><br>
            <div style="width: 30%; margin: auto; margin-top: 10px;">
                <input style="margin: 0 10px" type="submit" value="<%= book ? 'Edit' : 'Insert' %>" onclick="insertBook('<%= book ? '/'+book._id : '' %>')">
                <button style="margin: 0 10px" onclick="purgeBook('<%= book.id %>')">Purge</button>
            </div>
        </center>
  </body>
</html>
