<%- include('common/header.ejs') %>
        <title>Book</title>
    </head>
    <body onload="setheader()">
        <div><a href="/ui/books" style="border: solid 1px black; border-radius: 3px; padding: 5px;text-decoration: none; margin: 10px; background-color:#f3f3f3; color: black;">Return</a></div>
        <br>
        <center>
            <label>Title: </label><input style="margin: 10px 0;" type="text" name="title" value='<%= book ? book.title : "" %>' readonly><br>
            <label>Description: </label><input style="margin: 10px 0;" type="text" name="description" value='<%= book ? book.description : "" %>' readonly><br>
            <label>Author: </label><input style="margin: 10px 0;" type="text" name="author" value='<%= book ? book.author : "" %>' readonly><br>
            
            <div class="hiddenUserRole" style="width: 30%; margin: auto; margin-top: 10px;">
                <input style="margin: 0 10px" type="submit" value="Make a reservation" onclick="reserveBook('<%= book ? book._id : '' %>')">
            </div>
        </center>
  </body>
</html>
