<%- include('common/header.ejs') %>
        <title>Edit Copy</title>
    </head>
    <body onload="setheader();getCopyDetails('<%= copyId %>')">
        <div><a href="/ui/books"><button class="fa fa-arrow-left" style="font-size: 20px;"> Indietro</button></a></div>
        <br>
            <label>Book: </label><select id="book" required></select><br>
            <label>Owner: </label><input type="text" id="owner" required><br>
            <label>Buyer: </label><input type="text" id="buyer" required><br>
            <label>Price: </label><input type="text" id="price" required><br>
            <div style="width: 30%; margin: auto; margin-top: 10px;">
                <input name="adminonly" style="margin: 0 10px" type="submit" value="<%= copyId ? 'Edit' : 'Insert' %>" onclick="insertCopy('<%= copyId ? copyId : '' %>')">
                <button name="adminonly" style="margin: 0 10px;" value="<%= copyId ? '' : 'display: none' %>" onclick="purgeCopy('<%= copyId %>')">Purge</button>
            </div>
        </center>
  </body>
</html>
